<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 center">
    <h2>Sign up</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2 actions">
              <%= f.submit "Sign up", class: "btn btn-default" %>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 btn pull-right">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
