<!DOCTYPE html>
<html>
<head>
  <title>Obtruze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
    <nav class="navbar navbar-findcond navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <%= link_to "OBTRUZE", '/', class: "navbar-brand" %>
          <ul class="nav navbar-nav">
            <li class="inactive">
              <%= link_to "Upload", new_keyword_path, :class => "navbar-brand" %>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/user/preferences"><%= link_to 'Edit profile', edit_user_registration_path %></a></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
